<div class="row">
  <div class="column left">
    <div class="menu">
      <ul>
        <li><a href="">Activity</a></li>
        <li><a href="">Chat</a></li>
        <li><a href="">Teams</a></li>
        <li><a href="">Assignments</a></li>
        <li><a href="">Calendar</a></li>
        <li><a href="">Calls</a></li>
        <li><a href="">Files</a></li>
      </ul>
    </div>
  </div>
  <div class="column middle">
    <div class="card">
      <h2 class="title">This is title</h2>
      <p class="description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio excepturi, eos dolor commodi voluptatum quam cupiditate sequi laudantium rem cum accusantium officia earum nesciunt, explicabo vel magni harum vero. Eligendi.
        Iusto quam, harum quisquam omnis, non et voluptates blanditiis corrupti expedita quidem, nostrum praesentium earum asperiores suscipit dolorum. Sint, laborum ipsum. Facere maiores laudantium fugit vel. Aliquam repellat iure ab.
        Expedita unde doloremque porro maiores, doloribus possimus similique! Quae aliquam explicabo nisi tempore harum fugit, qui aperiam saepe hic dolorem fuga et accusamus repellendus sapiente similique soluta delectus quam ullam?
        Omnis iusto fugiat tempore eveniet. Numquam qui totam molestiae recusandae voluptate, impedit laudantium quam eaque mollitia corporis eos pariatur sed consequuntur debitis aperiam a deserunt autem aspernatur soluta doloribus. Nam?
        Quibusdam facere nulla beatae dignissimos doloribus porro harum earum? Dicta magni delectus fuga consectetur alias sequi tempore et molestiae eum deleniti nostrum omnis hic quidem quam voluptatem, assumenda corrupti? Quo?
        Sapiente consectetur eum, officiis provident inventore sequi doloremque obcaecati architecto quia ratione reiciendis dolores quo rerum nobis suscipit animi aperiam aliquam iusto cumque veritatis repellendus dicta. Pariatur nam delectus sit?
        Commodi nemo nihil consequuntur alias numquam blanditiis omnis ullam quas repellendus, harum fugit ipsa. Voluptates, expedita dignissimos placeat fugiat omnis voluptatum aliquid molestias? Repellat, minus ad suscipit libero ipsam saepe?
        Mollitia at modi, nam blanditiis maxime, nobis quae quaerat quidem iure consequuntur illo repellat! Doloremque pariatur a dolor quidem, hic inventore veritatis esse enim velit. At distinctio fugit tempore ullam.
        Molestiae ut voluptate id blanditiis deleniti soluta laudantium hic, nisi nesciunt modi alias, odio fugiat consequuntur quisquam autem nemo vitae facere inventore doloribus. Sit dignissimos, sint ipsam officiis ullam minus!
        Doloribus, deleniti deserunt suscipit minima eum adipisci blanditiis labore tempora pariatur ipsam magni repellat itaque sed, explicabo repudiandae illum? Laborum consectetur eaque obcaecati dolore eius aliquid cupiditate a reiciendis dolorum?
      </p>
    </div>
  </div>
  <div class="column right">
    <div class="card">
      <h2 class="title">Teams</h2>
      <ul>
        <li><a>Math</a></li>
        <li><a>Physics</a></li>
        <li><a>Literature</a></li>
        <li><a>Informatics</a></li>
        <li><a>English</a></li>
      </ul>
    </div>
  </div>
</div>